.cltetris {
    font-size: 22px;
}

.cltetris * {
    margin: 0;
    padding: 0;
    line-height: 0;
}

[class*=cltetris__cell] {
  display: inline-block;
  width: 0.8em;
  height: 0.8em;
}

.cltetris__cell--full {
    background-color: #008000;
    border: 0.2em outset #00C000;
}

.cltetris__cell--empty {
    background-color: #C8C8C8;
    border: 0.2em solid #C8C8C8;
}